<div align="left" style="background-color: #008080; padding: 20px 10px;">
<h3><b>IDEAS - Institute of Data Engineering, Analytics and Science Foundation</b></h3>
<p>Spring Internship Program 2026</p>
<hr style="width:100%;">
<h3><b>Project Title:</b> IRIS Flower Classification using Logistic Regression and Random Forest</h3>
<h4>Project Notebook</h4>

<blockquote style="border-left: 4px solid #4285F4; padding-left: 15px;">
  <strong>Created by:</strong> Adrija Das<br>
  <strong>Designation:</strong> Project Linked Associate Research Engineer
</blockquote>
<hr style="width:100%;">
</div>

### Question 1: Load Libraries (5 Marks)

Import the `pandas` library with the alias `pd` and the `load_iris` function from the `sklearn.datasets` module.

**Hint:** Use `import pandas as pd` and `from sklearn.datasets import load_iris`.

**Expected Output:** The code cell should execute without any errors.

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

### Question 2: Load and Describe the Dataset (5 Marks)

Load the IRIS dataset by calling the `load_iris()` function and storing the result in a variable named `iris`. Then, print the description of the dataset.

**Hint:** The description is an attribute of the `iris` object called `DESCR`. You can access it using `iris['DESCR']` or `iris.DESCR`.

**Expected Output:** A text block describing the IRIS dataset, its features, and class labels.

In [ ]:
iris = load_iris()
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

### Question 3: Create a DataFrame (5 Marks)

Create a Pandas DataFrame named `df` using the data from `iris.data`. The columns for this DataFrame should be set from `iris.feature_names`. Finally, display the first 5 rows of your DataFrame.

**Hint:** Use the `pd.DataFrame()` constructor, passing `iris.data` as the data argument and setting the `columns` parameter to `iris.feature_names`. Use the `.head()` method on the DataFrame to see the first few rows.

**Expected Output:** A table showing the first 5 rows of the IRIS data with correct column headers.

In [ ]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

### Question 4: Add Target and Check Distribution (10 Marks)

Add a new column named `'target'` to the `df` DataFrame. This column should contain the values from `iris.target`. After adding the column, print the value counts of the 'target' column to see the class distribution.

**Hint:** Add a new column with the syntax `df['new_column_name'] = data`. To get the counts of each unique value in a column, use the `.value_counts()` method.

**Expected Output:** A list of the target classes (0, 1, 2) and their counts (50 each).

In [ ]:
df['target'] = iris.target
df['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

### Question 5: Define Feature and Target Variables (10 Marks)

Separate your data into a feature matrix `X` (independent variables) and a target vector `y` (the dependent variable). `X` should contain all columns from `df` except 'target', and `y` should contain only the 'target' column. Print the shapes of both `X` and `y`.

**Hint:** To create `X`, you can use the `.drop('target', axis=1)` method on `df`. To create `y`, select the column with `df['target']`. Use the `.shape` attribute to view dimensions.

**Expected Output:**
```
(150, 4)
(150,)
```

In [ ]:
X = df.drop('target', axis=1)
y = df['target']

print(X.shape)
print(y.shape)

(150, 4)
(150,)

### Question 6: Split the Data into Training and Testing Sets (10 Marks)

Import the `train_test_split` function from `sklearn.model_selection`. Use it to split your `X` and `y` data into training and testing sets. Assign them to `X_train`, `X_test`, `y_train`, and `y_test`. Set `test_size=0.2` and `random_state=42`.

**Hint:** The function returns four variables in a specific order: `X_train, X_test, y_train, y_test`.

**Expected Output:** No direct output. The variables are prepared for model training.

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120,)
(30,)

### Question 7: Train a Logistic Regression Model (10 Marks)

Import `LogisticRegression` from `sklearn.linear_model`. Create an instance of the model named `log_reg` and train it on the training data (`X_train` and `y_train`).

**Hint:** The process involves two steps: creating the model object (`log_reg = LogisticRegression()`) and then training it using the `.fit(X_train, y_train)` method.

**Expected Output:** No direct output, but the `log_reg` object will be trained and ready for predictions.

In [ ]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
print("Logistic Regression model trained successfully")

Logistic Regression model trained successfully

### Question 8: Train a Random Forest Model (15 Marks)

Now, train a different model. Import `RandomForestClassifier` from `sklearn.ensemble`. Create an instance of this model called `rand_forest`, with `n_estimators=100` and `random_state=42`. Train it on the same training data (`X_train`, `y_train`).

**Hint:** The process is the same as for Logistic Regression. Instantiate the classifier with its parameters, then call the `.fit()` method.

**Expected Output:** No direct output. The `rand_forest` model will be trained.

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rand_forest = RandomForestClassifier(
    n_estimators=100,
    random_state=42
)

rand_forest.fit(X_train, y_train)
print("Random Forest model trained successfully")

Random Forest model trained successfully

### Question 9: Evaluate the Logistic Regression Model (15 Marks)

Use your trained `log_reg` model to make predictions on the `X_test` data. Import `accuracy_score` from `sklearn.metrics` and print the accuracy of these predictions by comparing them to `y_test`.

**Hint:** Generate predictions using `log_reg.predict(X_test)`. Then, pass the true labels (`y_test`) and your predictions as arguments to the `accuracy_score` function.

**Expected Output:** A single decimal number representing the accuracy score (e.g., `1.0`).

In [ ]:
from sklearn.metrics import accuracy_score

y_pred_log = log_reg.predict(X_test)
print(accuracy_score(y_test, y_pred_log))

1.0

### Question 10: Evaluate the Random Forest Model (15 Marks)

Finally, use the trained `rand_forest` model to make predictions on `X_test`. Import `classification_report` from `sklearn.metrics` and print the report, comparing the predictions to `y_test`, for a detailed performance breakdown.

**Hint:** First, create predictions using `rand_forest.predict(X_test)`. Then, call `classification_report(y_test, your_predictions)` and use `print()` to display the result.

**Expected Output:** A text-based report showing precision, recall, and f1-score for each class (0, 1, and 2).

In [ ]:
from sklearn.metrics import classification_report

y_pred_rf = rand_forest.predict(X_test)
print(classification_report(y_test, y_pred_rf))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30